<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shaizi_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,226},{74,222}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,90},{74,222}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,424},{78,174}}</string>
                <key>offset</key>
                <string>{-3,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,139},{78,174}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,726},{68,122}}</string>
                <key>offset</key>
                <string>{-4,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,194},{68,122}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{86,92}}</string>
                <key>offset</key>
                <string>{3,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,228},{86,92}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,696},{94,94}}</string>
                <key>offset</key>
                <string>{2,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,227},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,472},{90,92}}</string>
                <key>offset</key>
                <string>{1,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,228},{90,92}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,94},{84,88}}</string>
                <key>offset</key>
                <string>{-1,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,229},{84,88}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,942},{86,78}}</string>
                <key>offset</key>
                <string>{-6,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,240},{86,78}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,946},{90,74}}</string>
                <key>offset</key>
                <string>{-5,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,244},{90,74}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,310}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{68,310}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{74,222}}</string>
                <key>offset</key>
                <string>{-2,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,90},{74,222}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,832},{78,176}}</string>
                <key>offset</key>
                <string>{-4,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,137},{78,176}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,600},{80,124}}</string>
                <key>offset</key>
                <string>{-5,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,192},{80,124}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,848},{86,92}}</string>
                <key>offset</key>
                <string>{2,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,228},{86,92}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,942},{82,80}}</string>
                <key>offset</key>
                <string>{-3,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,229},{82,80}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,850},{94,94}}</string>
                <key>offset</key>
                <string>{1,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,227},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,378},{90,92}}</string>
                <key>offset</key>
                <string>{0,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,228},{90,92}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{88,74}}</string>
                <key>offset</key>
                <string>{-5,-120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,244},{88,74}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{64,276}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,34},{64,276}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,608},{74,222}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,90},{74,222}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,608},{78,174}}</string>
                <key>offset</key>
                <string>{-2,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,139},{78,174}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{76,122}}</string>
                <key>offset</key>
                <string>{-5,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,194},{76,122}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,888},{86,94}}</string>
                <key>offset</key>
                <string>{4,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,226},{86,94}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,284},{90,92}}</string>
                <key>offset</key>
                <string>{2,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,228},{90,92}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,180},{84,88}}</string>
                <key>offset</key>
                <string>{0,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,229},{84,88}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,600},{94,94}}</string>
                <key>offset</key>
                <string>{3,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,227},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,524},{92,74}}</string>
                <key>offset</key>
                <string>{-4,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,244},{92,74}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,622},{70,260}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,51},{70,260}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,226},{68,196}}</string>
                <key>offset</key>
                <string>{0,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,117},{68,196}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,450},{74,156}}</string>
                <key>offset</key>
                <string>{-3,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,158},{74,156}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,566},{88,92}}</string>
                <key>offset</key>
                <string>{2,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,229},{88,92}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,400},{68,122}}</string>
                <key>offset</key>
                <string>{-4,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,195},{68,122}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,304},{94,94}}</string>
                <key>offset</key>
                <string>{2,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,228},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,754},{86,92}}</string>
                <key>offset</key>
                <string>{3,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,229},{86,92}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,76},{84,90}}</string>
                <key>offset</key>
                <string>{-3,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,229},{84,90}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{92,72}}</string>
                <key>offset</key>
                <string>{-4,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,245},{92,72}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{70,306}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{70,306}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,288},{74,222}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,87},{74,222}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,784},{76,174}}</string>
                <key>offset</key>
                <string>{-3,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,136},{76,174}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,884},{82,124}}</string>
                <key>offset</key>
                <string>{0,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,189},{82,124}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,190},{90,92}}</string>
                <key>offset</key>
                <string>{1,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,225},{90,92}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,792},{92,94}}</string>
                <key>offset</key>
                <string>{3,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,224},{92,94}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,96},{90,92}}</string>
                <key>offset</key>
                <string>{1,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,225},{90,92}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,90},{88,88}}</string>
                <key>offset</key>
                <string>{-3,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,226},{88,88}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,946},{84,76}}</string>
                <key>offset</key>
                <string>{-7,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,243},{84,76}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{72,284}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{72,284}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{70,222}}</string>
                <key>offset</key>
                <string>{1,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,89},{70,222}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{78,174}}</string>
                <key>offset</key>
                <string>{-3,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,138},{78,174}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,178},{76,124}}</string>
                <key>offset</key>
                <string>{-3,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,191},{76,124}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,660},{86,92}}</string>
                <key>offset</key>
                <string>{3,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,227},{86,92}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,512},{94,94}}</string>
                <key>offset</key>
                <string>{2,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,226},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{90,92}}</string>
                <key>offset</key>
                <string>{1,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,227},{90,92}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{84,90}}</string>
                <key>offset</key>
                <string>{-5,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,227},{84,90}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
            <key>shaizi_6_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{88,74}}</string>
                <key>offset</key>
                <string>{-5,-122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,246},{88,74}}</string>
                <key>sourceSize</key>
                <string>{100,322}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shaizi.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f286a59c07a1f0aa138742ee62fe529:1/1$</string>
            <key>textureFileName</key>
            <string>shaizi.png</string>
        </dict>
    </dict>
</plist>
